body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 300;
}

a {
  color: #006aff;
  font-weight: 400;
}

a:hover {
  color: #2eb657;
}

.sidebar {
  grid-column: 1 / span 1;
  padding: 15px;
}

.feed-view {
  grid-column: 3 / span 1;
  padding: 15px 15px 15px 0px;
}

.post {
  margin-bottom: 30px;
  clear: both;
}

.post-info {
  display: block;
  overflow: hidden;
}

.thumbnail {
  width: 60px;
  float: left;
  padding-right: 15px;
  margin-bottom: 30px;
}

.container {
  display: grid;
  grid-template-columns: 30% 15px auto;
  background-color: #fcfcfc;
}

.search-field {
  font-size: .8em;
  padding: 8px 16px;
  margin: 0 10px 10px 0px;
}

.post-score {
  background-color: #8e8e8e;
  color: white;
  border-radius: 3px;
  padding: 5px 0px 7px 0px;
  float: left;
  width: 4em;
  text-align: center;
  margin-right: 10px;
  font-weight: 800;
}

input.submit-button {
  padding: 6px 12px;
  font-size: .8em;
  color: white;
  background: #29a54c;
  border: none;
}

input.submit-button:hover {
  background: #33c76e;
  cursor: pointer;
}

.flash-message {
  color: #f05;
  margin: 20px 0;
  border: 1px solid #ff572245;
  padding: 4px;
  border-radius: 5px;
}

.Select-control {
  width: 300px;
}

.sort-order {
  display: inline-block;
  margin-bottom: 20px;
}

.Select {
  position: relative;
  display: inherit;
  vertical-align: middle;
}

.post-details {
  font-size: .8em;
  padding: 6px 0px;
}

.post-details p {
  margin-bottom: 6px;
}

.sort-order span {
  margin-right: 10px;
}

.subreddits {
    margin-top: 20px;
    border: 1px solid #eee;
    padding: 10px;
}

.subreddits li {
  padding: 3px 10px;
  margin: 0 -10px;
}

.subreddits li:nth-child(odd) {
  background-color: rgb(240, 240, 240)
}

.subreddits li:last-child {
  margin-bottom: -10px;
}

.list-header {
  font-size: .8em;
  font-weight: 400;
  margin-bottom: 8px;
}

.delete-button {
  background-color: #ff0055;
  color: #fcfcfc;
  border-radius: 20px;
  padding: 2px 8px;
  font-size: .8em;
  float: right;
  font-weight: 300;
}

.delete-button:hover {
  background-color: #fcfcfc;
  color: #ff0055;
  border: 1px solid #ff0055;
  padding: 1px 7px;
}